.article-banner {
  /*width: 60%;*/
  height: auto;
  /*max-width: 80%;*/
  max-width: 760px;
  /*max-height: 80%;*/
  margin-left: auto;
  margin-right: auto;
  display: block;
}

table {
  display: inline;
  width: 0%;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

table > thead > tr > td {
  text-align: left;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

table > tbody > tr > td {
  text-align: right;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.media.stream-item .article-style {
  margin-top: 2px;
  font-size: 1rem;
}

/*code,*/
.dark pre,
.dark code {
  white-space: pre-wrap;
}

.hljs-comment,
.hljs-meta {
  color: rgb(189, 147, 249);
}

.hljs-quote,
.hljs-deletion {
  color: rgb(247, 100, 151);
}

.hljs-keyword {
  font-weight: normal;
  color: rgb(80, 250, 123);
}

@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Karla');
/*@import url(https://unpkg.com/firacode/distr/fira_code.css);*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

body,
p h1,
h2,
h3,
h4,
h5 {
  font-family: 'Karla', sans-serif;
}

.dark code {
  /*font-weight: lighter;*/
  /*font-family: 'Fira Code', monospace;*/
  font-family: 'PT Mono', monospace;
  font-size: 0.85rem;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: normal;
}

.hljs-pipe,
.hljs-tidyverse,
.hljs-dplyr,
.hljs-assign {
  color: #50fa7b;
}

.hljs-fun-param {
  color: #8be9fd;
}


.hljs css,
.hljs-selector-tag,
.hljs-meta,
.hljs-comment {
  color: #ffb86c;
}


/*
.hljs css,
.hljs bash {
  color: #ffb86c;
}
*/
